/* Reset default margins and paddings */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray; 
    position: fixed;
  }
  
  #root {
    width: 375px; 
    height: 100%;
    position: absolute;
    background-color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  }
  